# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.iml

# Eclipse e Maven
target/
/target/
/target
**/target/**
bin/
/bin/
.settings
.project
.classpath
.factorypath
.prefs
.versionsBackup
dependency-reduced-pom.xml
**/.sts4-cache
**/.springBeans

**/**.versionsBackup

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target/
.serverless/
node_modules/

# IntelliJ #
.idea

# Report #
output/
/output/
/output
**/output/**

# Serverless directories
.serverless
/.factorypath
/.vscode/
/node_modules/
